/* poppins-regular - latin */
@import url(../_variables.scss);
@import url(../_variables.scss);
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.now {
  background-color: rgb(48, 110, 247);
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  padding: 23px 74px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.demo {
  background: transparent;
  color: #707070;
  border: 1px solid #707070;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 23px 74px;
  border-radius: 8px;
}

.step {
  text-align: center;
  color: rgb(48, 110, 247);
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0;
}

.container {
  max-width: 1640px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-top: 46px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: 398px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__nav-link {
  color: rgb(112, 112, 112);
  font-size: 21px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header__nav-link:hover {
  color: rgb(60, 130, 244);
}

.header__form-button {
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  cursor: pointer;
  padding: 12px 20px;
}

.log-in {
  color: rgb(112, 112, 112);
}

.sign-up {
  background: rgb(48, 110, 247);
  border-radius: 5px;
}

.intro {
  margin-top: 142px;
}

.intro__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.intro__white-text {
  margin: 0;
  text-align: center;
  font-size: 112px;
  font-weight: 600;
}

.intro__orange-text {
  margin: 0;
  text-align: center;
  font-size: 112px;
  font-weight: 600;
  line-height: 100px;
  color: #FE6783;
}

.intro__connect-wrapper {
  margin-top: 136px;
  text-align: center;
}

.intro__connect-text {
  width: 694px;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.intro__connect-form {
  width: 652px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__connect-creators {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #707070;
  margin-top: 21px;
}

.intro__connect-created {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
  position: relative;
}
.intro__connect-created::after {
  position: absolute;
  width: 23px;
  height: 23px;
  background: #0FC65C;
  mix-blend-mode: normal;
  border-radius: 50%;
  content: "";
  left: -50px;
  top: 6px;
  box-shadow: 0px 0px 3px 6px rgba(15, 199, 92, 0.5);
}

.creators {
  margin-top: 188px;
}

.creators__title {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: 0px;
}

.creators__smiles {
  display: inline-block;
  width: 37px;
  height: 37px;
  position: relative;
}
.creators__smiles::after {
  position: absolute;
  width: 95%;
  height: 95%;
  content: "";
  left: 0;
  bottom: 0;
}

.first-smile::after {
  background: url(../../img/smile-1.svg) no-repeat center center;
}

.second-smile::after {
  background: url(../../img/smile-2.svg) no-repeat center center;
}

.three-smile {
  margin-left: 45px;
}
.three-smile::after {
  background: url(../../img/smile-3.svg) no-repeat center center;
}

.creators__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.creators__item-title {
  margin: 0;
  margin-left: 8px;
  font-size: 35px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0px;
}

.creators__item-text {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #707070;
}

.creators__title-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 344px;
  margin: 0 auto;
}

.connect {
  margin-top: 162px;
}

.connect__container {
  text-align: center;
}

.connect__title {
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: 0px;
  margin: 0;
}

.connect__text {
  width: 929px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin: 0 auto;
  color: #707070;
  margin-bottom: 58px;
}

.connect__link {
  padding: 23px 37px;
}

.content {
  margin-top: 205px;
}

.content__container {
  width: 1734px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.content__page-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 80px;
}

.content__info-title {
  width: 548px;
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  margin: 0;
  margin-bottom: 29px;
}

.content__text {
  margin: 0;
  font-weight: 400;
  font-size: 23px;
  padding-left: 45px;
  margin-bottom: 12px;
  position: relative;
}
.content__text::after {
  position: absolute;
  width: 33px;
  height: 33px;
  content: "";
  background: rgb(45, 45, 45);
  left: 0;
  border-radius: 50%;
  text-align: center;
}

.first-content::after {
  content: "1";
}

.second-content::after {
  content: "2";
}

.content__link-wrapper {
  margin-top: 66px;
  width: 438px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__info-blue {
  color: rgb(60, 130, 244);
}

.content__link {
  padding: 18px 21px;
}

.share {
  margin-top: 71px;
}

.share__container {
  max-width: 1731px;
}

.share__title {
  text-align: center;
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}

.share__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  width: 886px;
  color: #707070;
}

.share__list {
  width: 1731px;
  margin-top: 176px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 72px;
}

.share__item {
  width: 854px;
  background: #0D0D0D;
  padding-left: 45px;
  padding-top: 33px;
}

.share__item-info {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #0FC65C;
}

.share__item-title {
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
  color: #919191;
  margin-top: 96px;
}

.first-title-background {
  margin-top: 24px;
  width: 623px;
  padding-bottom: 352px;
  position: relative;
}
.first-title-background::after {
  position: absolute;
  width: 787px;
  height: 338px;
  content: "";
  background: url(../../img/mobile.png);
  left: 21px;
  bottom: 0;
}

.share__item-white-title {
  color: #fff;
}

.share__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  width: 283px;
  padding: 21px 81px;
}/*# sourceMappingURL=main.css.map */