*,
*::before,
*::after {
  box-sizing: border-box;
} 

body {
  width: 1920px;
  margin: 0 auto; 
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 1);
  
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
ul ,ol{
  list-style: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,p{
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.now {
  background-color: $button-blue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  padding: 23px 74px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.demo {
  background: transparent;
  color: #707070;
  border: 1px solid #707070;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 23px 74px;
  border-radius: 15px;
  background: rgba(14, 14, 14, 1);

}
.step{
  text-align: center;
  color: $button-blue;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0;
  
  }
  .creator {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #707070;
    margin-top: 21px;
}

.created {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    position: relative;
    padding-left: 23px;

    &::after {
        position: absolute;
        width: 18px;
        height: 18px;
        background: #0FC65C;
        mix-blend-mode: normal;
        border-radius: 50%;
        content: '';
        left: -27px;
        top: 6px;
        box-shadow: 0px 0px 3px 6px rgba(15, 199, 92, 0.5);
    }
}