.connect{
    margin-top: 162px;
}
.connect__container{
    text-align: center;
}

.connect__title{
font-size: 75px;
font-weight: 600;
line-height: 104px;
letter-spacing: 0px;
margin: 0;
}
.connect__first-title{
    margin-top: 3px;
}
.connect__text{
width: 929px;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
margin:  0 auto;
color: #707070;
margin-bottom: 55px;

}
.connect__link{
    padding: 23px 37px;
}
.connect__second{
    margin-top: 189px;
}