.experts{
    margin-top: 99px;
}
.experts__container{
    max-width: 1846px;
    padding: 0 10px;
}
.experts__title{
   margin-bottom: 52px;
font-size: 75px;
font-weight: 600;
line-height: 112px;
letter-spacing: 0px;
text-align: center;

}