.footer__title {
    padding-top: 170px;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    position: relative;

    &::after {
        position: absolute;
        width: 164px;
        height: 152px;
        content: '';
        background: url(../../img/logo.svg) no-repeat center center;
        top: 0;
        left: calc(50% - 82px);
    }
}

.footer__text {
    text-align: center;
    font-weight: 400;
    font-size: 43px;
    line-height: 64px;
    margin-bottom: 15px;
}

.footer__link {
font-size: 30px;
font-weight: 600;
line-height: 45px;
letter-spacing: 0px;
    display: block;
    padding: 27px 111px;
    width: 472px;
    margin: 0 auto;
}

.footer__footer {
    width: 1640px;
    margin-top: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.footer__email {
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #707070;
}
.footer__connect-creators{
font-weight: 400;
font-size: 38px;
line-height: 57px;
text-align: center;
color: #707070;
padding-left: 30px;
margin-top: 26px;
}
.footer__connect-created{
    font-weight: 700;
font-size: 38px;
line-height: 57px;
&::after{
    top: 15px;
}
}
.footer__nav{
    width: 476px;
}
.footer__nav-link{
font-size: 28px;
font-weight: 500;
line-height: 42px;
letter-spacing: 0px;
text-align: left;

}