.footer__title {
    padding-top: 174px;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    position: relative;

    &::after {
        position: absolute;
        width: 164px;
        height: 152px;
        content: '';
        background: url(../../img/logo.svg) no-repeat center center;
        top: 0;
        left: calc(50% - 82px);
    }
}

.footer__text {
    text-align: center;
    font-weight: 400;
    font-size: 43px;
    line-height: 64px;
    margin-bottom: 43px;
}

.footer__link {
    text-align: center;
    display: block;
    padding: 28px 112px;
    width: 472px;
    margin: 0 auto;
}

.footer__footer {
    margin-top: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.footer__email {
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #707070;
}
.footer__connect-creators{
font-weight: 400;
font-size: 38px;
line-height: 57px;
text-align: center;
color: #707070;
}
.footer__connect-created{
    font-weight: 700;
font-size: 38px;
line-height: 57px;
&::after{
    top: 15px;
}
}