.helped{
    background: url(../../img/bekgraund-helped.png) no-repeat center center;
}
.helped__title{
    
font-size: 70px;
font-weight: 600;
line-height: 105px;
letter-spacing: 0px;
text-align: center;
    padding-top: 489px;
    padding-bottom: 476px;
    width: 1236px;
    margin: 0 auto;
}