@import url(../_variables.scss);

.intro {
    margin-top: 120px;
}

.intro__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.intro__text-wrapper{
    margin-right: 8px;
}

.intro__white-text {
    margin: 0;
    text-align: center;
    font-size: 112px;
    font-weight: 600;

}

.intro__orange-text {
    margin: 0;
    text-align: center;
    font-size: 112px;
    font-weight: 600;
    line-height: 87px;
    color: #FE6783;

}

.intro__connect-wrapper {
    margin-top: 160px;
    text-align: center;
    
}

.intro__connect-text {
    width: 694px;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.intro__connect-form {
    width: 652px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__connect-link-demo{
    padding: 22px 89px;
}
.intro__connect-created{
    position: relative;
    padding-left: 40px;
    padding-right: 5px;
    &::after{
        left: 5px;
    }
}