.send__container{
    width: 1738px;

}
.send__title{
font-weight: 500;
font-size: 75px;
line-height: 105px;
color: #FFFFFF;
}
.send__info-title{
    width: 698px;
}
.content__send{
    margin-top: 158px;
}