.share {
    margin-top: 91px;
}

.share__container {
    width: 1751px;
    margin: 0 auto;
    padding: 0 10px;
}

.share__title {
    text-align: center;
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
}

.share__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    width: 886px;
    color: #707070;
}

.share__list {
    width: 1731 px;
    margin-top: 176px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 52px;
}

.share__item {
    width: 854px;
    background: #0D0D0D;
    padding-left: 45px;
    padding-top: 33px;
      &:nth-child(2){
        padding-left: 32px;
      }
}

.share__item-info {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #0FC65C;

}

.share__item-title {
    font-weight: 600;
    font-size: 80px;
    line-height: 93px;
    color: #919191;
    padding-top: 99px;
}

.first-title-background {
    margin-top: 24px;
    width: 623px;
    padding-bottom: 365px;
    line-height: 90px;
    position: relative;
    padding-top: 19px;

    &::after {
        position: absolute;
        width: 787px;
        height: 338px;
        content: '';
        background: url(../../img/mobile.png);
        left: 21px;
        bottom: 0;
    }
}

.share__item-white-title {
    color: #fff;
}

.share__link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    width: 283px;
    padding: 21px 81px;

}